@import './kanban_base.css';

#app {
/*  TODO do I really need max-width?  */
/*    max-width: 1280px; */
/*    padding: 2rem 0rem;*/
  margin: 0 auto;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
/*  align-items: stretch;*/
}
